[Unit]
Description=Periodically check/renew lore-server's Let's Encrypt certificate

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true
Unit=lore-acme.service

[Install]
WantedBy=timers.target
